* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: rgb(1, 150, 1);
    color: white;
}

@font-face {
    font-family: SFMono-Regular;
    src: url(./fonts/SFMono-Regular.ttf);
}

@font-face {
    font-family: UbuntuRegular;
    src: url(./fonts/Ubuntu-Regular.ttf);
}

svg {
    pointer-events: none;
}

.placeholder {
    opacity: 0.7;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
    z-index: 99;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

html {
    min-width: 500px;
}

body {
    width: 100%;
    height: auto;
    background-color: #151515;
    overflow: overlay;
}

header {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 105px;
    display: flex;

    .site-logo {
        position: absolute;
        margin-left: 75px;
        width: 120px;
        height: 100%;
        transform: translateX(-20%);
        background-color: transparent;
        cursor: pointer;
        transition: all 0.1s ease;

        img {
            position: absolute;
            padding: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            filter: brightness(200%) contrast(100%) saturate(300%) drop-shadow(0 0 4px rgb(0, 0, 0));
            transition: all 0.1s ease;
        }
    }

    .site-logo:hover {
        img {
            filter: brightness(200%) contrast(100%) saturate(300%) drop-shadow(0 0 3px #00ff0055);
        }
    }

    div {
        position: relative;
        margin: 0 auto 0 auto;
        color: rgb(0, 255, 0);
        font-weight: bold;
        white-space: pre;
        font-stretch: expanded;
        font-family: SFMono-Regular;
    }

    .site-tag {
        position: absolute;
        bottom: 10px;
        right: 70px;
        font-size: 20px;
        user-select: none;
        cursor: pointer;
        transition: all 0.1s ease;
    }

    .site-tag:hover {
        text-shadow: 0 0 4px rgb(0, 255, 0);
    }

    .brand-logo {
        user-select: none;
    }
}

hr {
    width: 97%;
    opacity: 0.6;
    transform: translateY(5px);
    margin: 0 auto 0 auto;
}

.main-section {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-section {
    position: relative;
    left: 0;
    width: 50%;
    min-height: 400px;
    height: calc(100vh - 308px);

    .cursor-area {
        position: absolute;
        height: 92%;
        width: 90%;
        top: 4%;
        right: 2%;
        left: auto;
        padding: 12px;
        border: 2px solid transparent;
        overflow: overlay;
        background-color: rgb(53, 53, 53);
        border-radius: 5px;
    }

    #input {
        position: relative;
        height: 100%;
        width: 100%;
        resize: none;
        font-family: SFMono-Regular;
        font-size: 16px;
        outline: none;
        color: white;
        white-space: pre-wrap;


        p {
            display: inline;
            white-space: pre-wrap;
            color: rgb(255, 0, 0);
        }

        p::selection {
            background-color: red;
            color: white;
        }
    }

    .paste-button {
        position: absolute;
        outline: none;
        border: none;
        border: 2px solid transparent;
        background-color: transparent;
        border-radius: 5px;
        top: 6%;
        right: calc(7% + 60px);
        width: 45px;
        height: 45px;
        transition: all 0.1s ease;
        z-index: 2;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 38px;
            height: 38px;
            fill: white;
            margin: auto;
            transform: translate(-50%, -50%);
            transition: all 0.1s ease;
        }
    }

    .paste-button:hover {
        background-color: #777777;

        svg {
            fill: white;
        }
    }

    .paste-button:active {
        transition: all 0s;
        background-color: #777777;
        border: 2px solid white;

        svg {
            transition: all 0s;
            fill: white;
        }
    }

    .in-clear-button {
        position: absolute;
        outline: none;
        border: none;
        border: 2px solid transparent;
        background-color: transparent;
        padding: 4px;
        border-radius: 5px;
        top: 6%;
        right: 7%;
        width: 45px;
        height: 45px;
        transition: all 0.1s ease;
        z-index: 2;

        svg {
            position: absolute;
            top: 50%;
            right: 50%;
            width: 20px;
            height: 20px;
            fill: white;
            transform: translate(52%, -48%);
            transition: all 0.1s ease;
        }
    }

    .in-clear-button:hover {
        background-color: #777777;
        
        svg {
            transition: all 0s;
            fill: white;
        }
    }

    .in-clear-button:active {
        transition: all 0s;
        background-color: #777777;
        border: 2px solid white;

        svg {
            fill: white;
        }
    }
}

.output-section {
    position: relative;
    right: 0;
    width: 50%;
    min-height: 400px;
    height: calc(100vh - 308px);
    display: flex;
    justify-content: center;
    align-items: center;

    textarea {
        position: absolute;
        height: 92%;
        width: 90%;
        top: 4%;
        left: 2%;
        right: auto;
        padding: 12px;
        resize: none;
        background-color: rgb(53, 53, 53) !important;
        font-family: SFMono-Regular;
        font-size: 16px;
        overflow: overlay;
        border-radius: 5px;
        color: white;
        border: 2px solid transparent !important;
    }

    textarea::placeholder {
        color: white;
        opacity: 0.7;
    }

    .copy-button {
        position: absolute;
        outline: none;
        border: none;
        border: 2px solid transparent;
        background-color: transparent;
        border-radius: 5px;
        top: 6%;
        right: calc(13% + 60px);
        width: 45px;
        height: 45px;
        transition: all 0.1s ease;
        z-index: 2;

        .noc {
            position: absolute;
            top: 50%;
            right: 35%;
            transform: translate(-50%, -50%);
            font-family: SFMono-Regular;
            font-size: 16px;
            opacity: 0;
            transition: all 0.1s ease;
            color: rgb(0, 255, 0);
        }

        .noc.yec {
            opacity: 1;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 38px;
            height: 38px;
            fill: white;
            margin: auto;
            transform: translate(-50%, -50%);
            transition: all 0.1s ease;
        }
    }

    .copy-button:hover {
        background-color: #777777;

        svg {
            fill: white;
        }
    }

    .copy-button:active {
        transition: all 0s;
        background-color: #777777;
        border: 2px solid white;

        svg {
            transition: all 0s;
            fill: white;
        }
    }

    .clear-button {
        position: absolute;
        outline: none;
        border: none;
        border: 2px solid transparent;
        background-color: transparent;
        padding: 4px;
        border-radius: 5px;
        top: 6%;
        right: 13%;
        width: 45px;
        height: 45px;
        transition: all 0.1s ease;
        z-index: 2;

        svg {
            position: absolute;
            top: 50%;
            right: 50%;
            width: 20px;
            height: 20px;
            fill: white;
            transform: translate(46%, -48%);
            transition: all 0.1s ease;
        }
    }

    .clear-button:hover {
        background-color: #777777;
        
        svg {
            transition: all 0s;
            fill: white;
        }
    }

    .clear-button:active {
        transition: all 0s;
        background-color: #777777;
        border: 2px solid white;

        svg {
            fill: white;
        }
    }
}

.submit-area {
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 200px;

    .terminal {
        position: absolute;
        display: flex;
        height: 90%;
        width: 71%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 4%;
        background-color: #060606;
        border: 1px solid transparent;
        overflow: auto;
        border-radius: 10px;
        user-select: none;

        .title-t {
            color: white;
            margin: 20px auto auto auto;
            transform: translateX(-5%);
            font-family: SFMono-Regular;
            color: rgb(0, 255, 0);

            a {
                color: rgb(0, 255, 0);
                text-shadow: 0 0 4px rgb(0, 255, 0);
                text-decoration: none;
                transition: all 0.1s ease;
            }

            a:hover {
                text-shadow: 0 0 4px rgb(0, 50, 0);
            }
        }

        .placeholder-t {
            opacity: 1;
            color: rgb(0, 255, 0);
            margin: 0;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 13%;
            padding: 10px;
            padding-bottom: 0px;
            font-family: SFMono-Regular;
            transform: translateY(-18px);
            white-space: pre;
        }

        p {
            padding: 10px;
            padding-bottom: 0px;
            font-family: SFMono-Regular;
        }

        .success {
            color: rgb(0, 255, 0);
        }

        .error {
            color: red;
        }

        .logo {
            position: absolute;
            bottom: 15px;
            right: 30px;
            font-family: SFMono-Regular;
            color: rgb(0, 255, 0);
        }
    }

    .submit-button {
        position: absolute;
        top: 25%;
        left: 85%;
        transform: translate(-50%, -50%);
        outline: none;
        border: none;
        width: 200px;
        height: 50px;
        border: 2px solid transparent;
        border-radius: 5px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-family: SFMono-Regular;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 19px;
        transition: all 0.1s ease;
        opacity: 0.9;

        svg {
            width: 35px;
            margin-right: 17px;
            transition: all 0.1s ease;
        }
    }

    .submit-button:hover {
        background-color: #666666;
        color: white;

        svg {
            fill: white;
        }
    }

    .submit-button:active {
        transition: all 0s;
        width: 197px;
        height: 48px;
    }

    .download-button {
        position: absolute;
        top: 64%;
        left: 85%;
        transform: translate(-50%, -50%);
        outline: none;
        border: none;
        width: 200px;
        height: 50px;
        border: 2px solid transparent;
        border-radius: 5px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-family: SFMono-Regular;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 19px;
        transition: all 0.1s ease;
        pointer-events: all;
        opacity: 0.9;

        svg {
            width: 30px;
            margin-right: 19px;
            fill: black;
            transition: all 0.1s ease;
        }
    }

    .download-button:hover {
        background-color: #666666;
        color: white;

        svg {
            fill: white;
        }
    }

    .download-button:active {
        transition: all 0s;
        width: 197px;
        height: 48px;
    }

    .download-button.not {
        border: 2px solid transparent;
        color: #999999;
        background-color: #dddddd;
        pointer-events: none;

        svg {
            fill: #999999;
        }
    }

    .download-button.not:hover {
        background-color: transparent;
    }

    .download-button.not:active {
        width: 150px;
        height: 50px;
    }
}

.mobile-spacer {
    display: none;
}

@media all and (max-width: 1195px) {

    .site-tag {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    .header {
        .brand-logo {
            margin: 0 calc(auto * 1.5) 0 calc(auto * 0.5) !important;
            font-size: 14px !important;
        }
    }

    .site-logo {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    .main-section {
        flex-direction: column !important;
    }

    .input-section {
        width: 100% !important;

        .cursor-area {
            left: 5%;
            right: 5%;
        }
    }

    .output-section {
        width: 100% !important;

        textarea {
            left: 5% !important;
            right: 5% !important;
        }

        .copy-button {
            right: calc(7% + 60px) !important;
        }

        .clear-button {
            right: 7% !important;
        }
    }

    .submit-area {
        height: 240px !important;
        padding-bottom: 100px !important;

        .terminal {
            width: 90% !important;
            margin-left: 5% !important;
            margin-right: 5% !important;

            .title-t {
                opacity: 0 !important;
                pointer-events: none !important;
            }

            .placeholder-t {
                margin-left: 3% !important;
            }
        }

        .submit-button {
            top: calc(25% + 180px) !important;
            left: 25% !important;
            right: 25% !important;
            width: 50% !important;
            height: 60px !important;
            transform: unset !important;
        }

        .download-button {
            top: calc(64% + 180px) !important;
            left: 25% !important;
            right: 25% !important;
            width: 50% !important;
            width: 50% !important;
            transform: unset !important;
        }
    }
    .mobile-spacer {
        position: relative;
        margin-top: 180px;
        display: flex;
        height: 10px;
        width: 100%;
    }
}